*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*################# GENERIQUE #################*/

html{
  --res: calc(0.01*10vmin)
}

h2{
  font-family: 'Montserrat';
  font-size: xx-large;
  text-align: center;
}

/*##################################*/

/*################# TITRE #################*/

.titre_page{
  font-size: 50px;
  padding: 1em 0em 1em 0em ;
  color: white;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  background-color: #0D6E64;
  font-family: "Montserrat";
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
  box-shadow: 3px 10px 26px -11px #5C5C5C;
}

/*##################################*/

/*################# FOND EN DEGRADEE #################*/

body{
  background: rgb(0,105,146);
  background: linear-gradient(90deg, rgba(0,105,146,0.35) 0%, rgba(0,105,146,0.3) 30%,
      rgba(0,105,146,0.2) 49%, rgba(0,105,146,0.15) 67%, rgba(0,105,146,0.1) 84%); 
}

/*##################################*/

/*################# IMAGE #################*/

#Chaine{
  width : 800px;
  height : 500px;
}

#Stamp{
  width : 800px;
  height : 500px;
}

.image_responsive{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image_radius_left{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.image_radius_right{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

/*##################################*/

/*################# PARAGRAPHE #################*/

.paragraphe{
  border-radius: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: justify;
  font-family: "Montserrat";
  text-align: center;
  background-color: #ffffff85;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.droite{
    margin-right: 3%;
    margin-top: 10%;
    margin-left: 20%;
}

.gauche{
    margin-left: 3%;  
    margin-top: 10%;
    margin-right: 20%;
}

.text{
  padding: 2% 2% 2% 2%;
}

/*##################################*/

/*################# BOUTON FLECHE #################*/

#btn {
  z-index: 99;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 80px;
  cursor: pointer;
  opacity: 30%;
}

#icone {
  width: 50px;
}

/*##################################*/

/*################# SLIDER #################*/

#slider--text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fade-in {
  animation: fade 6s;
}

@keyframes fade {
  0% {
      opacity: 0;
      transform: rotate3d(2, 2, 0, 48deg);
  }
  20% {
      opacity: 1;
      transform: rotate3d(0, 0, 0, 24deg);
  }
}

/*##################################*/

/*################# TIMELINE #################*/

.Bdroite{
  margin-top: 10%;
  margin-left: 60%;
}

.Bgauche{
  margin-top: 10%;
  margin-left: 20%;
}

.box {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Montserrat";
  text-align: center;
  color: #333;
  width: 400px;
  background: #f1f1f1;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.box p {
  line-height: 30px;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.ligneVerticale {
  position: absolute;
  left: 49.8%;
  top: 3670px;
  height: 2150px;
  width: 8px;
  margin: 0 auto;
  background: #333;
}

.ligneHorizontale {
  position: absolute;
  height: 8px;
  width: 120px;
  margin: 0 auto;
  background: #333;
}

.Lgauche{
  left: 44%;
}

.Ldroite{
  left: 50%;
}

.l1{top: 3707px;}
.l2{top: 3987px;}
.l3{top: 4310px;}
.l4{top: 4615px;}
.l5{top: 4925px;}
.l6{top: 5225px;}
.l7{top: 5495px;}
.l8{top: 5785px;}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.r1{top: 3670px;}
.r2{top: 3950px;}
.r3{top: 4275px;}
.r4{top: 4580px;}
.r5{top: 4890px;}
.r6{top: 5190px;}
.r7{top: 5460px;}
.r8{top: 5750px;}

/*##################################*/