@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');
footer{
    margin-top: 10em;
    background-color: #231A21;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-liens-logo{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5em;
}
.footer-text-reseaux{
    color: white;
    font-family: "Montserrat";
    padding-right: 10px;
}
.footer-liens-logo img{
    padding: 0em 0.5em 0em 0.5em;
}


.footer-creator-page{
    font-family: "Montserrat";
    color: white;
}

