
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*################# BARRE DE NAVIGATION #################*/

.navbar{
    background-color: #001D4A;

}
.nav-link1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px 2em 0px 2em
}
