
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.titre_page{
    text-align: center;
    position: relative;
    font-size: 14vw;
    color: rgb(177, 199, 207);
    -webkit-text-stroke: 0.3vw #001D4A;
    text-transform: uppercase;
}

h1::before
{
    content: attr(data)
}


.navbar{
    background-color: #001D4A;

}
.nav-link1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px 2em 0px 2em
}

body{
    background: rgb(0,105,146);
    background: linear-gradient(90deg, rgba(0,105,146,0.35) 0%, rgba(0,105,146,0.3) 30%, rgba(0,105,146,0.2) 49%, rgba(0,105,146,0.15) 67%, rgba(0,105,146,0.1) 84%);
}

/*################# BOUTON FLECHE #################*/

#btn {
    z-index: 99;
    height: 100px;
    width: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 80px;
    cursor: pointer;
    opacity: 30%;
  }
  #icone {
    width: 50px;
  }
  
  /*##################################*/

  .about img{
    height: auto;
    width: 480px;
}

.Texte_p1{
    width: 550px;
}

.Premier_Paragraphe{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    
}
