 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.titre_page{
    font-size: 120px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url(../Images/Background_Service.png);
    -webkit-background-clip: text ;
    background-position: 0 0;
    animation: back 20s linear infinite;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 30px;
    box-shadow: 3px 10px 26px -11px #5C5C5C;
}



@keyframes back  {
    100%{
        background-position: 2000px 0;
    }
    
}


.nav-link1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px 2em 0px 2em
}

body{
    background: rgb(0,105,146);
    background: linear-gradient(90deg, rgba(0,105,146,0.35) 0%, rgba(0,105,146,0.3) 30%, rgba(0,105,146,0.2) 49%, rgba(0,105,146,0.15) 67%, rgba(0,105,146,0.1) 84%);
}

/*################# BOUTON FLECHE #################*/

#btn {
    z-index: 99;
    height: 100px;
    width: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 80px;
    cursor: pointer;
    opacity: 30%;
  }
  #icone {
    width: 50px;
  }
  
  /*##################################*/

  .about img{
    height: auto;
    width: 480px;
}

.Texte_p1{
    width: 550px;
}

.Premier_Paragraphe{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    
}
