menu{
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
  }
  
  li {
    flex-grow: 1;
  }
  
  button {
    width: 100%;
  }
h1{
  text-align: center;
  }
header{
  position: relative;
  position: fixed;
}
.image{
  color:white;
  background-color:white;
  background-image:url(src/Images/imageback.jpg);
  margin:0;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: top center;
  min-height: 500px;
}
.navbar{
  background-color: #001D4A;

}
.nav-link1{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0px 2em 0px 2em
}