
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar{
    background-color: #001D4A;

}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Montserrat";
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 20px 0;
}


.image{
  color:white;
  background-color:white;
  background-image:url(src/Images/imageback.jpg);
  margin:0;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 900px;
  position: relative;
}




img .logo {
  margin-left: auto;
  margin-right: auto;
}

.boxtext {
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3px;
  text-shadow: 3px 3px rgb(0 0 0 / 73%);
  padding: 20px;
  padding-top: 50px;
  color: white;
}

.boxtext{
  opacity: 0;
}

.boxtext span {
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.boxtext span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.boxtext:nth-child(1) {
  animation: txt-appearance 0s 2s forwards;
}

.boxtext:nth-child(1) span::after {
  background: #0d6e64;
  animation: slide-in 2s ease-out forwards,
  slide-out 2s 2s ease-out forwards;
}

@keyframes slide-in {
  100% {
      transform: translateX(0%);
  }
}
@keyframes slide-out {
  100% {
      transform: translateX(100%)
  }
}
@keyframes txt-appearance {
  100% {
      opacity: 100; ;
  }
}

.box{
  display: flex;
  justify-content: center;
  padding: 200px 50px 200px 50px;
}

.text{
  line-height: 1;
  font-size: 20px;
  text-align: justify;
  padding: 0px 25px 0px 25px;
}

.Title2{
  text-align: center;
  font-size: 5em;
  background-color: #7c7c7cb3;
}

.item{
  box-shadow: 0px 5px 15px 0px;
  margin-bottom: 30px;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
}


.item:link, .item:visited, .item:focus {
  background: royalblue;
}

.item:hover {
  background: #0d6e64;
}

.item:active {
  background: #001D4A;
  color: white;
}



.image-logo{
  padding-top: 50px;
  text-align: center;
}



.container-decouvrir{
  margin: 0em 2em 0em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}



.container-item{
  display: flex;
  flex-direction: column ;
  text-align: center;
}


figure #zoom-In img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
figure #zoom-In:hover img{
  transform: scale(1.5);
}

/*################# BOUTON FLECHE #################*/

#btn {
  z-index: 99;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 80px;
  cursor: pointer;
  opacity: 30%;
}
#icone {
  width: 50px;
}

/*##################################*/

