
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');







/*################# GENERIQUE #################*/



html{

  --res: calc(0.01*10vmin)


}

h2{
  font-family: 'Montserrat';
  font-size: xx-large;
  text-align: center;
}

footer{
  margin-top: 15%;
  text-align: justify;
  background-color: #001D4A;
  color: white;
  
}

/*##################################*/


/*################# TITRE #################*/

.banner-title {
  font-size: 4em;
  font-family: arial;
  background-color: #001d4a;
  background-image: linear-gradient(45deg, #001d4a 0%, #006992 17%, #0d6e64 74%);
  background-size: cover;
  background-position: center;
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


/*##################################*/




/*################# FOND EN DEGRADEE #################*/
/*
body{
  background: rgb(218,236,243);
  background: linear-gradient(90deg, rgba(218,236,243,1) 0%, rgba(245,252,255,1) 30%, rgba(245,252,255,1) 67%, rgba(255,255,255,1) 84%);
}
*/
body{

background: rgb(0,105,146);
background: linear-gradient(90deg, rgba(0,105,146,0.35) 0%, rgba(0,105,146,0.3) 30%, rgba(0,105,146,0.2) 49%, rgba(0,105,146,0.15) 67%, rgba(0,105,146,0.1) 84%); 
}


/*##################################*/



/*################# IMAGE #################*/

.image_responsive{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image_radius_left{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}
.image_radius_right{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}


#carte_monde{
  height: 80%;
}

/*##################################*/



/*################# PARAGRAPHE #################*/

.paragraphe{
  
  border-radius: 15px;
  display: flex;
  text-align: justify;
  font-family: "Montserrat";
  text-align: justify;
  background-color: #ffffff85;

  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}


.texte{
  padding: 0% 1% 1% 1%;
  
}
.droite{
    margin-right: 3%;
    margin-top: 10%;
    margin-left: 20%;




}

.gauche{

    margin-left: 3%;  
    margin-top: 10%;
    margin-right: 20%;




}


/*##################################*/


/*################# BOUTON FLECHE #################*/

#btn {
  z-index: 99;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 80px;
  cursor: pointer;
  opacity: 30%;
}
#icone {
  width: 50px;
}

/*##################################*/
