menu{
    display: flex;
    list-style: none;
    padding: 0;
    width: 400px;
  }
  
  li {
    flex-grow: 1;
  }
  
  button {
    width: 100%;
  }
h1{
  text-align: center;
  }
header{
  position: relative;
  position: fixed;
}
.image{
  color:black;
  background-color:white;
  background-image:url(src/Images/imageback.jpg);
  margin:0;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: top center;
}