
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar{
    background-color: #001D4A;

}
.nav-link1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px 2em 0px 2em
}

html{

--res: calc(0.01*10vmin)


}
h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat';
    
}

.image_responsive{
  max-width: 1000px;
  min-width: 750px;
  min-height: 500px;
  width: auto;
  height: 100%;
}


.paragraphe_droite{

    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    text-align: center;
    position: relative;
    font-family: 'Montserrat';
    font-size: calc(24*var(--res));
    background-color: #ffffff85;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;



}

.paragraphe_gauche{
    margin-top: 10%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    position: relative;
    font-family: 'Montserrat';
    font-size: calc(24*var(--res));
    background-color: #ffffff85;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
     rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;






}



h2{
    font-family: 'Montserrat';
    font-size: xx-large;
    text-align: center;
}

footer{
    margin-top: 15%;
    text-align: center;
    background-color: #001D4A;
    color: white;
    
}


.gradient-background {
  background: linear-gradient(300deg,white,#006992);
  background-size: 120% 120%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img{
  position:relative;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}