header{
    top: 0;
    position: sticky;
    background-color: white;

}
nav{
    display: flex;
}


.element{
    padding-top: 1.5em;
    text-align: center;
    padding-right: 100px;
}

.element li{

    display: inline;
    padding: 0em 5em 0em 5em;
}


.element a{
    background-color: white;
    text-decoration: none;
    font-size: 24px;
}








