

.navbar{
    background-color: #001D4A;
}
.nav-link1{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0px 2em 0px 2em
}

.image-data-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /*alignement horizontal*/

}


.align p{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: justify;

    padding-left: 2em;
    padding-right: 2em;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 768px;
    height: 480px;

}
